<div class="chat">
	<% friends.each do |friend| %> 
		<div class='none-block <%= "chat-container-#{friend.id}" %>'>
			<div class="chat-top">
				<h2><%= friend.name %></h2>
			</div>

			<div class="chat-bottom">
				<div class="chat-main">
					<div class="chat-messages">
						<% Message.chats(current_user.id, friend.id).each do |chat| %>
							<% if chat.user_id.eql? current_user.id %>
								<div class="chat-content">
									<%= image_tag "vau.JPG" %>
									<span><%= friend.name %></span>
									<div><%= chat.content %></div>
								</div>
							<% else %>
								<div class="p-self">
									<div><%= chat.content %></div>
									<%= image_tag "vau.JPG" %>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="chat-box">
						<div class="chat-tools">
							<%= fa_icon "smile-o" %>
							<%= fa_icon "scissors" %>
						</div>
						<div class="send-message-box">
							<textarea autofocus></textarea>
						</div>
				</div>
			</div>

			<div class="chat-members"></div>
		</div>
		</div>
		<% end %>
	</div>
