<div class="chat">
	<% friends.each do |friend| %> 
		<div class='none-block <%= "chat-container-#{friend.id}" %>'>
			<div class="chat-top">
				<h2><%= friend.name %></h2>
			</div>

			<div class="chat-bottom">
				<div class="chat-main">
					<div class="chat-messages"">
						<% Message.chats(current_user.id, friend.id).each do |chat| %>
							<% if chat.user_id.eql? current_user.id %>
								<div class="p-self">
									<%= image_tag "vau.JPG" %>
									<div><%= chat.content %></div>
									<p></p>
									
								</div>
							<% else %>
								<div class="chat-content">
									<%= image_tag "vau.JPG" %>
									<span><%= friend.name %></span>
									<div><%= chat.content %></div>
									<p></p>
								</div>
							<% end %>
						<% end %>
					</div>
					<div class="chat-box">
						<div class="chat-tools">
							<%= fa_icon "smile-o" %>
							<%= fa_icon "scissors" %>
						</div>
						<div class="send-message-box">
							<%= form_for @message, url: messages_path, method: :post, remote: true do |f| %>
								<%= hidden_field_tag 'message[user_id]', current_user.id %>
								<%= hidden_field_tag 'message[friend_id]', friend.id %>
								<%= f.text_area :content %>
								<%= f.submit "SEND", class: "send-message-button" %>
							<% end %>
						</div>
				</div>
			</div>

			<div class="chat-members"></div>
		</div>
		</div>
		<% end %>
	</div>
