<div class="sidebar">
	<%= image_tag("vau.JPG") %>
	<%= fa_icon "circle"  %>
	<%= fa_icon "comment-o" %>
	<%= fa_icon "user" %>
	<%= fa_icon "users" %>
	<%= fa_icon "plus" %>
	<%= link_to logout_path , method: :delete do %>
		<%= fa_icon "sign-out" %>
	<% end %>
</div>